head {
  font-family: OCR A Std, monospace;
}

body {
  font-family: OCR A Std, monospace;
  background-color: white;
}

ul#list {
  list-style-type: none;
  padding-left: 0;
  margin: auto;
  margin-top: 0.5em;
}

li {
  width: fit-content;
  padding: 0.25em;
  margin: 0.175em;
  border-radius: 2px;
  background-color: black;
  color: orange;
  border: 1px solid white;
  margin: auto;
}


div.center-contents {
  text-align: center;
}

div {
  display: inline;
}

input {
  display: inline;
  text-align: center;
}

form {
  background-color: orange;
  width: fit-content;
  padding: 0.5em;
  text-align: center;
  margin: auto;
}

div.form-element {
  padding: 0.25em;
  margin: 0.25em;
}

label::after, legend::after {
  content: ':';
}

fieldset {
  border: none;
}

h1 {
  text-align: center;
}
